<h2>Categories</h2>
{% for category in categories %}
<h4>{{ category.name }}</h4>
{% for subcategory in category.subcategories.all %}
<ul>
    <li>{{ subcategory.name }}</li>
</ul>
{% endfor %}
{% endfor %}
{% if categories.has_other_pages %}
<div class="pagination">
    <span class="step-links">
        {% if categories.has_previous %}
            <a href="?page={{ categories.previous_page_number }}">previous</a>
        {% endif %}
        {% if categories.has_next %}
            <a href="?page={{ categories.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
{% else %}
  <p>No more categories found.</p>
{% endif %}